.error {
  font-size: 0.8rem;
  color: red;
}
.sig {
  background-color: white;
}
h2 {
  font-weight: 500;
}
.signin {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.output_text {
  font-weight: 600;
}
.inp {
  border: none;
  border-bottom: 1px solid #1890ff;
  outline: none;
  border-radius: 0;
}
.inp:focus {
  box-shadow: 0 0;
}
.sidebar {
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar-contentt {
  bottom: 0;
  z-index: 2;
  position: fixed;
}
.spacing {
  height: 10rem;
}
.bootstrap-select .bs-ok-default::after {
  width: 0.3em;
  height: 0.6em;
  border-width: 0 0.1em 0.1em 0;
  transform: rotate(45deg) translateY(0.5rem);
}
.btn.dropdown-toggle:focus {
  outline: none !important;
}
.imgs{
  width: 100%;
}
.thumb{
  max-height:300px;
  max-width:300px;
  width:auto;
  height: auto;
}
@media (max-width: 1000px) {
  img {
    display: none;
  }
  .sidebar {
    position: static;
  }
  .signin, .output_section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
